<header class="header">
  <div class="container">
    <div class="header-brand">
      <h1>ZanellaZen</h1>
      <div class="header-subtitle">
        <span class="quote">"Vital Few, Trivial Many"</span>
      </div>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/ricette">Ricette</a></li>
        <li><a href="/nautica">Nautica</a></li>
        <li><a href="/radio">Radioamatore</a></li>
        <li><a href="/meteo">Meteo</a></li>
        <li><a href="/dialetto">Dialetto Feltrino</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="header-social">
      <a href="https://www.facebook.com/stefano.zanella.79" target="_blank" class="social-link">
        📘 Facebook
      </a>
    </div>
  </div>
</header>